.topic
{
	font-family: verdana;
	font-size: 22pt;
	/*font-weight: bold;*/
	/*color: #606060;*/
	color: #884848;
}
.text
{
	font-family: verdana;
	font-size: 9pt;
	font-weight: normal;
	color: black;
}
.boldText
{
	font-family: verdana;
	font-size: 9pt;
	font-weight: bold;
	color: black;
}
.listText
{
	font-family: verdana;
	font-size: 9pt;
	font-weight: normal;
	color: black;
	line-height: 150%;
	margin-top: 10px;
}
.heading
{
	font-family: verdana;
	font-size: 12pt;
	font-weight: bold;
	color: black;
}
.bold
{
	font-family: verdana;
	font-size: 9pt;
	font-weight: bold;
	color: black;
}
.gray
{
	font-family: verdana;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	color: #606060;
}
.footer
{
    font-family: Verdana;
    font-size: 8pt;
    font-style: italic;
    font-weight: normal;
}
.effect
{
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
}
table.noteFrame
{
	background-color: #F6F6FF;
	border: 2px;
	border-style: groove;
}
table.default
{
	font-size: 9pt;
	border-collapse:collapse;
    font-family: Arial; 
    table-layout: fixed;
    border-style: solid; 
    padding: 6px;
    border:1px solid #C0C0C0;
    width: 100%; 
    background-color: #FCFCFC;
}
td.highlight
{
	background-color: #E0E0E0;
	height: 22px;
	font-weight: bold;
}